@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* a { */
  /* @apply text-white; */
  /* } */
  @font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  }
  body {
    @apply debug-screens;
  }
}
@layer components {
  .nav,
  .hero_wrapper {
    visibility: hidden;
  }
  .mountain_card {
    height: 800px;
    background: url('../public/snow_mountains.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .overlay_txt {
    position: absolute;
    top: 12%;
    right: 5%;
    width: 40%;

    background: rgba(255, 255, 255, 0.8);
  }
  @media only screen and (min-width: 1025px) {
    .overlay_txt > p {
      font-size: 16px !important;
    }
  }
  @media only screen and (max-width: 1024px) {
    .mountain_card {
      height: 480px;
    }
    .overlay_txt {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
    }
  }
  @media only screen and (max-width: 640px) {
    .mountain_card {
      height: 400px;
    }
  }
  @media only screen and (max-width: 430px) {
    .mountain_card {
      height: 650px;
    }
  }

  .footer_ul {
    @apply mt-6 text-sm font-thin flex flex-col gap-y-4;
  }

  .footer_ul > li {
    @apply hover:opacity-75;
  }
  .hero_shop {
    background: url('../public/shop.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
  }

  .hero_shop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
