@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* a { */
  /* @apply text-white; */
  /* } */
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }
  a:focus,
  a:visited,
  a:active {
    outline: none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .value_button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    @apply text-center;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
  }
  body {
    @apply debug-screens;
  }
}
@layer components {
  .nav,
  .img_section,
  .txthero {
    visibility: hidden;
  }

  .product_details:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background: turquoise; */
    opacity: 20%;
    z-index: -1;
  }

  .action_btns {
    @apply hover:bg-black hover:text-white hover:border-black hover:shadow-md border  px-4 py-2 h-10 flex justify-center items-center gap-2;
  }

  .product_details > div {
    @apply flex items-baseline gap-2;
  }

  .product_details h3 {
    @apply text-2xl mt-6;
  }

  .product_details p {
    @apply opacity-50;
  }

  .product_details h4,
  .proudct_details p {
    @apply text-lg;
  }

  .product_details h4 {
    @apply text-white font-bold opacity-40;
  }

  .product_features > div {
    @apply flex flex-row gap-2;
  }

  .add_flex {
    @apply flex items-end;
  }

  .overlay_txt {
    position: absolute;
    top: 12%;
    right: 5%;
    width: 40%;

    background: rgba(255, 255, 255, 0.8);
  }

  .hero_txt {
    visibility: hidden;
  }
  @media only screen and (min-width: 1025px) {
    .overlay_txt > p {
      font-size: 16px !important;
    }
  }
  @media only screen and (max-width: 1024px) {
    .overlay_txt {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
    }
  }
  @media only screen and (max-width: 640px) {
    /* nav bar  */
    .nav > .isMobile {
      background: 'blue' !important;
      flex-direction: flex-column !important;
    }
  }

  .footer_ul {
    @apply mt-6 text-sm font-thin flex flex-col gap-y-4;
  }

  .footer_ul > li {
    @apply hover:opacity-75;
  }
  /* .hero_shop { */
  /* background: url('../public/shop.jpeg'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* object-fit: contain; */
  /* } */

  .hero_shop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
